<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://spring.io/images/spring-initializr-4291cc0115eb104348717b82161a81de.svg">

    <title>EmpleosApp | Listado de Categorias</title>
    <!-- Bootstrap core CSS -->
  <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link  th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link  th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
  </head>

  <body>
 <header th:insert="fragments/menu:: menu-principal">
 </header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Listado de Categorias</strong></h4>              
          <div class="card-body table-responsive" >
            <a class="btn btn-primary" href="/categorias/create" title="Crear nueva Oferta de Trabajo" role="button"><i class="fas fa-file" aria-hidden="true"></i> Nueva</a>            
            <hr>
            <h5 th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></h5>
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nombre</th>                  
                  <th scope="col">Descripcion</th>
                   <th scope="col">Operaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="categoriaspag: ${categorias}">
                  <td th:text="${categoriaspag.id}">Supervisor de Ventas  ESTO NO SE LEE PORQUE SE USA EL TH:EACH</td>                  
                  <td th:text="${categoriaspag.nombre}">11-01-2019 ESTO NO SE LEE PORQUE SE USA EL TH:EACH</td>
                  <td th:text="${categoriaspag.descripcion}">Creada ESTO NO SE LEE PORQUE SE USA EL TH:EACH</td>
                  <td>
                    <a th:href="@{/categorias/edit/{id}   (id=${categoriaspag.id})}" class="btn btn-success btn-sm" role="button" title="Editar el registro."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                    <a th:href="@{/categorias/delete/{id}   (id=${categoriaspag.id})}" onclick="return confirm('¿Estas seguro?')" class="btn btn-success btn-sm" role="button" title="Eliminar el registro."><i class="fas fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>
                               
              </tbody>
            </table>
                  <nav th:if="${categorias.totalPages > 0}" aria-label="Page navigation example" >
		    		<ul class="pagination justify-content-center">
				        <li class="page-item" th:classappend="${categorias.number == 0 ? 'disabled' : ''}">
				       		<a th:href="@{/categorias/paginate(page=${categorias.number - 1})}" class="page-link">Anterior</a>
				        </li>			                    
				    	<li class="page-item" th:classappend="${i eq categorias.number + 1} ? 'active'" th:each="i : ${#numbers.sequence( 1, categorias.totalPages, 1)}">
				            <a class="page-link" th:href="@{/categorias/paginate?page={id}(id=${i-1})}" th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
				        </li>			                  			                    
				        <li class="page-item" th:classappend="${categorias.number == (categorias.totalPages - 1) ? 'disabled' : ''}">
				        	<a th:href="@{/categorias/paginate(page=${categorias.number + 1})}" class="page-link">Siguiente</a>
				    	</li>
		    	   </ul>
			  </nav>   
          <!--  <nav th:if="${categorias.TotalPages > 0}" aria-label="Page navigation example">
            	<ul class="pagination">
            		<li class="page-item"><a th:href="@{/categorias/paginate(page=${categorias.number -1})}" class="page-link" >Anterior</a></li>
            		<li class="page-item"><a th:href="@{/categorias/paginate(page=${categorias.number +1})}" class="page-link" >Siguiente</a></li>
            	</ul>            
            </nav>  -->            
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragments/footer1 :: footer1" class="footer">
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
   <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>