HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
src/main/resources/static/images/6E5EO2QXdescarga.png
src/main/resources/static/images/ET1QBRVK0.png
src/main/resources/static/images/LY4SXTX6Coatza-world.jpg
src/main/resources/static/images/maxi.jpg
src/main/resources/static/images/QVEK19TSEeEmVq_XkAEk-66.jpg
src/main/resources/static/images/RWKIG5Y50.png
src/main/resources/static/images/WMGP28QC0.png
src/main/resources/static/images/WW6ANFT8WhatsApp-Image-2020-08-13-at-9.15.00-PM.jpeg
src/main/resources/static/imagesSC1DXXYA0.png
