<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://spring.io/images/spring-initializr-4291cc0115eb104348717b82161a81de.svg">

    <title>EmpleosApp | Detalles de la Oferta de Trabajo</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>
  <body>

     <header th:insert="fragments/menu:: menu-principal">
		
    </header>

    <main role="main">
      <hr>
      <div class="container"> 

        <div class="row">
          <div class="col-md-3">            
            <img class="rounded mx-auto d-block"  th:src="@{/logos/{img} (img=${vacantes.imagen})}" alt="Generic placeholder image" width="220" height="220">            
          </div>
          <div class="col-md-9">
            <div class="card">
              <h4 class="card-header">Aplicar para <strong th:text="${vacantes.nombre}">Ingeniero Civil</strong></h4>              
              <div class="card-body">
                <h5 class="card-title"><strong>Categoría: </strong> <span th:text="${vacantes.categoria.nombre}" >Sistemas</span></h5>
                <h6 class="card-title"><strong>Publicado: </strong> <span th:text="${vacantes.fecha}" >2019-01-01 </span></h6>                
                <h6 class="card-title"><strong>Salario Ofrecido: </strong><span th:text="${vacantes.salario}">$9000</span></h6>
                <p class="card-text" th:text="${vacantes.descripcion}">La descripción corta de la oferta de trabajo</p>
                
                <div class="card bg-light mb-3" >
                  <div class="card-body">
                    <h5 class="card-title">Detalles de la oferta de trabajo</h5>
                    <p class="card-text" th:utext="${vacantes.detalles}" ></p>
                  </div>
                </div>   
                <a class="btn btn-primary" th:if="${session.user != null}" href="#" role="button" title="Quiero aplicar para esta oferta de trabajo."><i class="fas fa-file" aria-hidden="true"></i> Aplicar</a>                            
              	<p class="card-text" th:if="${session.user == null}">Registrate o accede a tu cuenta para aplicar</p>
              </div>
            </div>  
          </div>
        </div>

      </div>
    </main>
 	<footer th:insert="fragments/footer1 :: footer1" class="footer">
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
       <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>
